@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/helvetica_regular.woff2") format("woff2");

  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  background-color: rgba(243, 243, 243, 1);
}